/*---------- Basic global styles -----------*/
body {
    font-family: 'Roboto', sans-serif;
    background-color: #434343;
}

/*---------- NavBar styles -----------*/
.navbar {
    background-color: #434343;
}

.navbar-brand {
    font-weight: 700;
}

.navbar-dark .navbar-nav .nav-link {
    color: rgba(255,255,255,.9);
}

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 0.9)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.custom-toggler .navbar-toggler {
  border-color: rgb(255,255,255);
}

.navbar-dark .navbar-toggler {
    border-color: transparent;
}

/*---------- Banner styles -----------*/
#home {
    margin-top: 56px;
}

.banner {
    background-color: #fff;
    width: 96%;
}

.banner .row {
    background-color: #fff;
}

.title {
    font-family: 'Merriweather', serif;
    font-weight: 900;
    font-size: 2.2rem;
    line-height: 1.5;
}

.bigger-text {
    font-size: 2.5rem;
}

/*---------- About styles -----------*/
#about {
    margin-top: 50px;
    margin-bottom: 50px;
}

.bio {
    width: 60%;
}

.member-name {
    font-size: 1.25rem;
}

/*---------- Music styles -----------*/
#music {
    width: 96%;
    background-color: #fff;
    color: #434343;
}

.music-video {
    width: 80%;
    display: block;
    margin: 0 auto;
}

.album-cover {
    width: 120px;
}

.media-body {
    min-width: 300px;
}

.audio-player {
    display: block;
}

/*---------- Live styles -----------*/
#live {
    width: 96%;
    background-color: #434343;
}

.live-table {
    width: 90%;
}

.tickets-button {
    background-color: inherit;
    border: 1px solid #fff;
    color: #fff;
    font-size: .9rem;
    cursor: pointer;
    width: 60px;
    text-align: center;
    transition: .3s;
}

.tickets-button:hover {
    background-color: #fff;
    color: #434343;
}

/*---------- Footer styles -----------*/
.copyright-text {
    font-size: 14px;
}

.social-btn {
    font-size: 18px;
}

/*---------- Media Queries -----------*/
@media screen and (max-width: 576px) {
    .social-btn {
        font-size: 22px;
    }
    
    .music-video {
        width: 95%;
    }
}

@media screen and (max-width: 476px) {
    .title {
        font-size: 1.4rem;
    }
    
    .bigger-text {
        font-size: 1.8rem;
    }   
}

@media screen and (min-width: 1200px) {
    .title {
        font-size: 3rem;
    }
    
    .bigger-text {
        font-size: 3.6rem;
    }   
}

@media screen and (min-width: 576px) {
    .media-item {
        margin-left: 100px;
    }
}